<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src='https://unpkg.com/vue@3.4.27/dist/vue.global.js'></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <div v-for="elemento, i in slide" class="slide item" :class="imgActiveSlides(i)">
                    <img :src="elemento.image" :alt="elemento.title" />
                    <div class="text">
                        <h3>{{elemento.title}}</h3>
                        <p>
                            {{elemento.text}}
                        </p>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <div v-for="elemento, i in slide" class="thumb" :class="imgActiveThumb(i)">
                        <img :src="elemento.image" :alt="elemento.title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>